/* Carrossel */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.carrossel{
    width:90%;
    height: 580px;
    position: relative;
    overflow: hidden; /* Sobrepõe os elementos e mascara as diferenças de tamanho */
    border-radius: 10px;
    margin-top: 10px;
}

.carrossel-container{
    display: flex;
    transition: transform 0.3s ease;
}

.item{
    position: relative;
    min-width: 100%;
    overflow: hidden;
    box-sizing: border-box; /* evita que o próprio código altere as medidas */
}

.item img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}

button{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0.6);
    font-size: 60px;
    cursor: pointer;
    border: none;
}

button.prev{
    left: 10px;
}

button.next{
    right: 10px;
}

button:hover{
    color: white;
}



